body { 
    font-family: Arial, Helvetica, sans-serif; 
    background-color: #1F2937;
} 

ul { 
    list-style: none;
}  

.header { 
    display: flex; 
    background-color: #1F2937;
    color: white;  
    justify-content: space-around; 
    
} 
h1 { 
    padding-right: 100px;
}
.header-list { 
    display: flex; 
    gap: 15px; 
    align-items: center; 

} 
.content-one  { 
    display: flex; 
    color:white;  
    padding-left: 30px; 
    margin-top: 40px; 
    justify-content: space-around;
} 
.awesome { 
    font-size: 50px; 
    font-weight: 800;
} 
.content-one button { 
    background-color: #3882F6; 
    color: white; 
    height: fit-content; 
    width: fit-content; 
    padding: 5px 15px 5px 15px; 
    border-radius: 8px;
} 
.placeholder { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    background-color: gray; 
    padding: 90px; 
} 
.left-content-one { 
    display: flex; 
    flex-direction: column; 
    flex-wrap: wrap; 
    width: 380px; 
    height: auto;
} 
.card { 
    border: 3px solid #3882F6; 
    border-radius: 10px; 
    height: 120px; 
    width: 105px; 
    flex: 0 1 auto;
} 
.card-n-text { 
    display: flex; 
    flex-direction: column; 
    width: 100px; 
    align-items: center; 
    background-color: white;
} 
.content-two { 
    display: flex; 
    align-items: center;  
    flex-direction: column; 
    gap: 50px; 
    background-color: white;  
    margin-top: 60px;
    height: 350px; 
    padding-top: 50px;
   
}
.cards { 
    display: flex; 
    flex-wrap: wrap; 
    height: 100px; 
    gap: 80px;
} 
.card-text { 
    display: flex; 
    justify-content: center ; 
    flex-wrap: wrap; 
    font-size: 14px; 
    text-align: center;
    
} 
.some-information { 
    font-size: 30px; 
    font-weight: bold; 
    color: #1F2937;
} 
.quote { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: #E5E7EB; 
    padding: 90px;
} 
.quote-writer { 
    text-align: end; 
    color: #1F2937;
} 
.quote-text { 
    font-size: 36px; 
    font-style: italic; 
    font-weight: lighter; 
    color: #1f29377c;
} 
.sign-up button { 
    background-color: #3882F6; 
    color: white; 
    height: fit-content; 
    width: fit-content; 
    padding: 5px 15px 5px 15px; 
    border-radius: 8px; 
    border: 2px solid white;
} 
.content { 
    background-color: #3882F6; 
    display: flex; 
    justify-content: center; 
    gap: 20px; 
    border-radius: 4px;  
    padding: 40px; 
    width: 600px;
}
.text-one  { 
    color: white; 
    font-weight: 900;
} 
.text-two { 
    color:#1f2937b6
} 
.sign-up { 
    background-color: white; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 50px;
} 
.copyright::after { 
    content: '\00A9';
} 
.footer { 
    display: flex; 
    justify-content: center; 
    color: white; 
    padding: 30px; 
    align-items: center;
}