body { 
    font-family: Arial, Helvetica, sans-serif; 
    background-color:  rgba(5, 65, 5); 
} 

ul { 
    list-style: none;
}  

.header { 
    display: flex; 
    background-color: rgba(5, 65, 5);
    color: white;  
    justify-content: space-around; 
    
} 
h1 { 
    padding-right: 100px;
}
.header-list { 
    display: flex; 
    gap: 15px; 
    align-items: center; 

} 
.content-one  { 
    display: flex; 
    color:white;  
    padding-left: 30px; 
    margin-top: 40px; 
    justify-content: space-around;
} 
.awesome { 
    font-size: 50px; 
    font-weight: 800;
} 
.content-one button { 
    background-color: rgb(155, 155, 10); 
    color: white; 
    height: fit-content; 
    width: fit-content; 
    padding: 5px 15px 5px 15px; 
    border-radius: 8px;
} 
.placeholder { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    background-color: gray; 
    padding: 90px; 
} 
.left-content-one { 
    display: flex; 
    flex-direction: column; 
    flex-wrap: wrap; 
    width: 380px; 
    height: auto;
}